@using WebApplication1.Models;
@model List<Member>


@*@model IEnumerable<WebApplication1.MemberForm>*@

@*@{
        Layout = null;
    }*@

<h2>客戶資料一覽表</h2>
<div>
    @*會自動轉換成為form標籤 method預設post action預設返回list主頁面，，，使用html標籤語法 也可以使用html6的語法*@
    @using (Html.BeginForm())
    {
        @*@:關鍵字 <input type="text" /><input type="button" value="查詢" />*@
        @:關鍵字 @Html.TextBox("txtKeyword") <input type="submit" value="查詢" />
    }
</div>

<p>
    <a href="~/Member/Create" class="btn btn-primary">新增會員</a>
</p>
<table border="1" class="table">
    <tr class="table">
        <td>序號</td>
        <td>姓名</td>
        <td>性別</td>
        <td>生日</td>
        <td>出生地</td>
        <td>電話</td>
        <td>電子郵件</td>
        <td>帳戶</td>
    </tr>

    @{
        int count = 0;
        foreach (Member m in Model)
        {
            count++;
        <tr>
            <td>@count</td>
            <td>@m.MemberName</td>
            <td>@m.MemberSex</td>
            <td>@m.MemberBirth</td>
            <td>@m.MemberBirthPlace</td>
            <td>@m.MemberPhone</td>
            <td>@m.MemberEmail</td>
            <td>@m.MemberAccount</td>
            <td>
                @Html.ActionLink("修改", "Edit", "Member", new { id = m.mID }, new { @class = "btn btn-success" }) |
            </td>
            @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            <td>
                @Html.ActionLink("刪除", "Delete", "Member", new { onclick = "return confirm('確定要刪除嗎')", Class = "btn btn-danger" })
            </td>
        </tr>
        }
    }
</table>
